{% extends 'base.html' %}
{% block title %}{% endblock title %}

{% block body %}
<a href="{% url 'index' %} " class='btn btn-secondary'>뒤로 가기</a>
  <form action="{% url 'create' %}" method='POST'>
  {% csrf_token %}
  <div>
    name : <input type="text" name="name">
  </div>
  <div>
    age : <input type="text" name="age">
  </div>
  <div>
    major : <input type="text" name="major">
  </div>
  hobby : <textarea name="hobby" id="" cols="30" rows="10"></textarea>
  <input type="submit" class="btn btn-primary">
  </form>
{% endblock body %}